secrets*.yml
*.ini


# Network Setup files
Host_Setup/Step_3_Network_Configuration/Translations/*
Host_Setup/Step_3_Network_Configuration/Networks_Context/*
Host_Setup/Step_3_Network_Configuration/templates/*